<nav class="navbar navbar-default">
    <div class="cotainer-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Hotel GST</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a (click)="onSelect('recipe')" style="cursor: pointer;">Recipes</a></li>
                <li><a (click)="onSelect('shopping-list')" style="cursor: pointer;">Shopping-list</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a class="drop-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a > Save data</a></li>
                        <li><a > Fetch data</a></li>
                      <li> <a > Auto save</a> </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
